/vendor
/node_modules
/.env
/.env.backup
/.phpunit.result.cache
/storage/*.key
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/public/storage
